<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
        <a mat-list-item routerLink="/admin/movies">
          <mat-icon matPrefix>movie_tap</mat-icon>
          Movies
        </a>
        <a mat-list-item href="#">
          <mat-icon matPrefix>logout</mat-icon>
          Rentals
        </a>
        <a mat-list-item href="#">
          <mat-icon matPrefix>logout</mat-icon>
          Return
        </a>
        <div class="spacer"></div>
        <br><br><br><br>
  
  
        <a mat-list-item href="#">
          <mat-icon matPrefix>logout</mat-icon>
          Logout
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <div *ngIf="loaderService.isLoading | async" class="loader-container">
        <mat-spinner></mat-spinner>
      </div> -->
      <div class="spacer"></div>

      <span>VHS-Rental User Dashboard</span>
      <div class="spacer"></div>
      <!-- <a mat-button routerLink='movies'>Logout</a> -->
      <div [ngSwitch]="isTokenExpired">
        <div *ngSwitchCase="false">
            <button mat-button [matMenuTriggerFor]="menu">
            Hi, {{username}}!<mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">
                    <mat-icon>logout</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>
        </div>
        <a *ngSwitchDefault mat-button routerLink="/login"><mat-icon matPrefix>account_circle</mat-icon>Log out</a>
    </div>
      </mat-toolbar>
      <div id='content'>
        <div> 
          <ng-content></ng-content> 
    </div>    
          </div>
       <router-outlet></router-outlet> 
      
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
