<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-spinner style="top: 50%; left: 50%;"></mat-spinner>
  </div>
  <div class="register-bg-image">
<main class="container" fxLayout="row" fxLayoutAlign="center center" *ngIf="!(loaderService.isLoading | async)">
    <mat-card class="mat-elevation-z24" id="card">
        <mat-card-title> VHS RENTALS REGISTRATION FORM</mat-card-title>
        <form class="form-container" [formGroup]="form" (ngSubmit)="onSubmit()">
            <mat-form-field appearance='outline'  class="example-full-width" >
                <input matInput type="email" formControlName="email" placeholder="Email:" required>
                <mat-icon matPrefix>
                    email
                    </mat-icon>
            </mat-form-field>
            <mat-error *ngIf="email.touched && email.invalid">
                <mat-error *ngIf="email.errors.required">
                    Email is required
                </mat-error>
                <mat-error *ngIf="email.errors.email">
                    Email must have a valid format
                </mat-error>
                <mat-error *ngIf="email.errors.minlength">
                    Email must be {{email.errors.minlength.requiredLength}} characters or
                    more
                </mat-error>
            </mat-error>

            <mat-form-field appearance='outline'  class="example-full-width" >
                <input matInput placeholder="Username:" formControlName="username"  required>
             <mat-icon matPrefix>person</mat-icon>

            </mat-form-field>
            <mat-error *ngIf="username.touched && username.invalid">
                <mat-error *ngIf="username.errors.required">
                    Username is required
                </mat-error>
                <mat-error *ngIf="username.errors.minlength">
                    Username must be {{username.errors.minlength.requiredLength}} characters or more
                </mat-error>
            </mat-error>

            <mat-form-field appearance='outline'  class="example-full-width" >
                <input matInput placeholder="Password:" formControlName="password" required type="password">
                <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="password.touched && password.invalid">
                <mat-error *ngIf="password.errors.required">
                    Password is required
                </mat-error>
                <mat-error *ngIf="password.errors.minlength">
                    Password must be {{password.errors.minlength.requiredLength}} characters or more
                </mat-error>
                <mat-error *ngIf="password.errors.pattern">
                    <p>
                        Password must contain at least one digit.
                    </p>
                    <p>
                        Password must contain at least one lowercase letter.
                    </p>
                    <p>
                        Password must contain at least one uppercase letter.
                    </p>
                </mat-error>
            </mat-error>
            <mat-error *ngIf="password.touched && confirmpassword.touched && confirmpassword.value !== password.value">
                <mat-error>
                    Passwords should match
                </mat-error>
            </mat-error>

            <mat-form-field appearance='outline'  class="example-full-width" >
                <input matInput placeholder="Password (confirm):" formControlName="confirmpassword" required
                    type="password">
                    <mat-icon matPrefix>lock</mat-icon>
            </mat-form-field>
            <mat-error *ngIf="confirmpassword.touched && confirmpassword.invalid">
                <mat-error *ngIf="confirmpassword.errors.required">
                    Confirmation password is required
                </mat-error>
                <mat-error *ngIf="confirmpassword.errors.minlength">
                    Password must be {{confirmpassword.errors.minlength.requiredLength}} characters or more
                </mat-error>
                <mat-error *ngIf="confirmpassword.errors.pattern">
                    <p>
                        Password must contain at least one digit.
                    </p>
                    <p>
                        Password must contain at least one lowercase letter.
                    </p>
                    <p>
                        Password must contain at least one uppercase letter.
                    </p>
                </mat-error>
            </mat-error>
            <mat-error *ngIf="password.touched && confirmpassword.touched && confirmpassword.value !== password.value">
                <mat-error>
                    Passwords should match
                </mat-error>
            </mat-error>

            <button mat-stroked-button color="accent" [disabled]="!form.valid" type="submit">SIGN UP</button>
        </form>
         <p>Already have an account? <a mat-button routerLink='/login' color='primary'>login</a></p>
    </mat-card>
</main>

</div>

