<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>
        <mat-icon>dashboard</mat-icon> Dashboard
      </mat-toolbar>
      <mat-nav-list>
        <mat-list-item [matMenuTriggerFor]="menu">
          <mat-icon>movie</mat-icon>
          <a matline >Movies</a>
      </mat-list-item>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/add-movies" >Add Movie</button>
        <button mat-menu-item routerLink="/movies" >Movies</button>
      </mat-menu>
      <a mat-list-item routerLink="/add-users">
        <mat-icon>person</mat-icon>
        Add Users
      </a>
      <a mat-list-item routerLink="/view-users">
        <mat-icon>content_paste</mat-icon> 
        View Users
      </a>

        <a mat-list-item routerLink="/rentals">
          <mat-icon>library_books</mat-icon>
          Rentals
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>VHS-Rental Admin Dashboard</span>
        <div class="spacer"></div>
        <div [ngSwitch]="isTokenExpired">
          <div *ngSwitchCase="false">
              <button mat-button [matMenuTriggerFor]="menu">
              Hi, {{username}}!<mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="logout()">
                      <mat-icon>logout</mat-icon>
                      <span>Logout</span>
                  </button>
              </mat-menu>
          </div>
          <a *ngSwitchDefault mat-button routerLink="/login"><mat-icon matPrefix>account_circle</mat-icon>Log out</a>
      </div>
      </mat-toolbar>
      <div id='content'>
        <div> 
          <ng-content></ng-content> 
    </div>    
          </div>
       <router-outlet></router-outlet> 
<app-footer></app-footer>

      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  