.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
}

img {
    max-width: 30vw;
    max-height: 35vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.form-details {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.form {
    width: auto;
    height: 100%;

}

.movie-details {
    width: 40%;
    height: 60vh;
}

// .form-container{
// display:flex;
// flex-direction: column;
//  width: 100%;
// }
.form-container {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

mat-form-field {
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    // border-radius: 4px;
    // width: 40%;
}

mat-card {
    width: max-content;
    box-sizing: border-box;
    height: 100%;
}

p {
    text-align: center;
    font-size: 1.5vw;
}
button{
    width: 100%;
  }