<app-nav-bar></app-nav-bar>
<main>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar ></div>
      <mat-card-title>Please confirm your order and tell us how to contact you</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        <thead>
          <tr>
            <th>Movie</th>
            <th>Price per day(&#8373;) </th>
            <th>Remove from cart</th>
            <th>Rental period in days</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let item of cart">
            <td><i>{{item.title}}</i></td>
            <td>{{item.dailyRentalRate}}</td>
            <td>
              <button class="remove-movie" (click)="removeMovie(item._id)">Remove</button>
            </td>
            <td>
              <input (change)="setNumberOfDays(item._id)" id="{{item._id}}" min="1"
                value="{{item.daysBooked ? item.daysBooked :1 }}" class="numOfDays" type="number" />

            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
    <mat-card-actions>

      <mat-divider></mat-divider>
      <h2> Total = &#8373;{{getTotal()}}</h2>
      <mat-divider></mat-divider>
        <button mat-flat-button color="primary" type="submit" (click)="processOrders()" class="btn-block">Checkout</button>
    </mat-card-actions>
  </mat-card>
</main>