main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
table{
    width: 80vw;
}
mat-form-field{
    width: 100%;
}
input{
    width: 85%;
}
.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 90vh;
}