.spacer {
    flex: 1 1 auto
}

.mat-toolbar{
    background-color: #1A1A14;
    
  }

  a{
    color: #e8dfdf;
    background-color:  #1A1A14;
  }
 
  span{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFEFE;
    }
   