
.login-wrapper {
    height: 100%;
  }
  
  .mat-card-title{
      color: rgb(112, 30, 172);
      margin-top: 20px;
  }
  
  .box {
    position: relative;
    top: 0;
    opacity: 1;
    float: left;
    padding: 60px 50px 40px 50px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    z-index: 5;
    max-width: 330px;
  }
  
  .box.back {
    transform: scale(.95);
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    top: -20px;
    opacity: .8;
    z-index: -1;
  }
  
  
  .login-wrapper .example-form {
    min-width: 100%;
    max-width: 300px;
    width: 100%;
  }
  
  .login-wrapper .example-full-width,
  .login-wrapper .btn-block {
    width: 100%;
  }
  
  .err{
    color: red;
  }
  
  .login-wrapper mat-card-header {
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
  }
  
  .login-wrapper mat-card-header mat-card-title {
    font-size: 30px;
    margin: 0;
  }
  
  .login-wrapper .mat-card {
    padding: 40px 70px 50px;
  }
  
  .login-wrapper .mat-stroked-button {
    border: 1px solid currentColor;
    line-height: 54px;
    background: #FFF7FA;
  }
  
  .login-wrapper .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: 0.8375em 0;
  }
  .mat-icon{
      color: rgb(204, 203, 202);
  }
  
  .loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    }
  
  
  // mat-icon-stepper selected color change 
  ::ng-deep .mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: rgb(230, 211, 211)!important;
  border-radius: 1px !important;
  border-bottom: 1px solid   red;
  }
  
  //input outline color
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color:rgb(230, 211, 211)!important;
  opacity: 1!important;
  
  
  }
  
  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  border-radius: 1px !important;
  border-bottom: 1px solid   red;
  }
  
  //mat-input focused color
  ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  color: rgb(85, 240, 150)!important;
  }
  
  // mat-input error outline color
  ::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
  color: red!important;
  opacity: 0.8!important;
  }
  
  // mat-input carent color
  ::ng-deep .mat-input-element {
  caret-color: red!important;
  }
  
  // mat-input error carent color
  ::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
  caret-color: red!important;
  }
  
  // mat-label normal state style
  ::ng-deep .mat-form-field-label {
  color: rgba(0,0,0,.6)!important;
  // color: $mainColor!important;
  }
  
  // mat-label focused style
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
  color: rgb(230, 211, 211)!important;
  }
  
  // mat-label error style
  ::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
  color: red!important;
  }
  
  ::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
     color: rgb(187, 177, 177);
  }
  mat-form-field {
     input, ::placeholder, .mat-form-field-label {
        color: rgb(51, 46, 46);
     }
  }
  }
  