   <app-administration>
   <br><br><br><br>
<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-spinner></mat-spinner>
</div>
<div class="login-wrapper" fxLayoutAlign="center center" *ngIf="!(loaderService.isLoading | async)">
    <mat-card class="box">
      <mat-card-header>
        <!-- <mat-card-title>Add Customer</mat-card-title> -->
      </mat-card-header>
      <form class="example-form"  [formGroup]="form" (ngSubmit)="onSubmit(form)">
        <mat-card-content>
          <label>Name</label>
          <mat-form-field appearance='outline' class="example-full-width" >
            <input matInput placeholder="Name" formControlName="name" type="text" required>
            <mat-icon matPrefix>user</mat-icon>
          </mat-form-field>
          <div class="err" *ngIf="form.get('name').touched && form.get('name').invalid">
            <span *ngIf="form.controls.name.errors.name">
                *Invalid Name
            </span>
            <span *ngIf="form.controls.name.errors.required">
              *Name is Required
          </span>
        </div>
        <label>Phone Number</label>
          <mat-form-field appearance='outline' class="example-full-width">
            <input matInput placeholder="Phone Number" formControlName="phone" type="text" required >
         <mat-icon matPrefix>phone</mat-icon>
          </mat-form-field>
          <div class="err" *ngIf="form.get('phone').touched && form.get('phone').invalid">
           <span *ngIf="form.controls.phone.errors.pattern">
               *Enter only Number
           </span>
           <span *ngIf="form.controls.phone.errors.required">
            *Phone Number is Required
        </span>
       </div>
        </mat-card-content>
        <button mat-stroked-button  type="submit" [disabled]="!form.valid" class="btn-block">Submit</button>
      </form>
    </mat-card>
  </div>
</app-administration>